@media (max-width: 768px) {
  .menu nav ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .menu nav ul li {
    padding: 5px 0;
    font-size: 16px;
  }

  .section.flex {
    flex-direction: column;
    gap: 20px;
  }

  .column {
    margin-right: 0;
    width: 100%;
  }

  .column,
  .card {
    width: 100%;
    margin: 0;
  }

  .certificate-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .certificate-section > div {
    width: 100%;
  }

  .certificate-section img {
    width: 100%;
    height: auto;
  }

  .project-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .project-card {
    width: 100%;
  }

  .project-card img {
    width: 100%;
    height: auto;
  }
}
