@media (max-width: 1024px) and (min-width: 768px) {
  .navbar-title {
    display: none;
  }

  .section.flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .column {
    margin-right: 10px;
  }

  .column,
  .card {
    width: 100%;
    margin: 0;
  }

  .certificate-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .certificate-section > div {
    width: 100%;
  }

  .certificate-section img {
    max-width: 100%;
    height: auto;
  }

  .project-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .project-card {
    width: 100%;
  }

  .project-card img {
    max-width: 100%;
    height: auto;
  }
}
